.primary-btn, .secondary-btn, .sucess-btn, .danger-btn {
    color: #fff; 
    border: none;
}

.primary-btn {
    background-color: #3498db;
}

.secondary-btn {
    background-color: #2ecc71;
}

.sucess-btn {
    background-color: #27ae60;
}

.danger-btn {
    background-color: #e74c3c;
}
