.titulo {
    font-size: 20px;
    text-align: center;
}
.primary-btn, .secondary-btn, .sucess-btn, .danger-btn {
    color: #fff; 
    border: none;
    border-radius: 2px;
    padding: 10px 12px;
    font-size: 12px;
}

.primary-btn {
    background-color: #3498db;
}

.secondary-btn {
    background-color: #2ecc71;
}

.sucess-btn {
    background-color: #27ae60;
}

.danger-btn {
    background-color: #e74c3c;
}
