.titulo {
    font-size: 27px;
    text-align: center;
}

.button-container {
    display: flex;
    justify-content: center;
}

.primary-btn, .secondary-btn, .sucess-btn, .danger-btn {
    color: #fff; 
    border: none;
    border-radius: 3px;
    padding: 10px 12px;
    margin: 10px;
}

.primary-btn {
    background-color: #3498db;
}

.secondary-btn {
    background-color: #2ecc71;
}

.sucess-btn {
    background-color: #27ae60;
}

.danger-btn {
    background-color: #e74c3c;
}
